*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

body{
    background-color: white;
    font-size: 1vw;
}

.top{
    height: 4vw;
    margin-top: 1.3%;
    margin-left: 1.3%;
    background-color: white;
    padding-right: 75%;
    padding-bottom: 1.3%;
    border-bottom: 2px rgba(226, 226, 231, 0.918) solid;     
}

.menu{
    float: left;
}

.button{
    margin: 0.15vw;
    width: 13vw;
    height: 3.2vw;
    border: rgba(38,113,221,1);
    border: 0.2vw linear-gradient(90deg, rgba(37,76,145,0.9308765742625175) 30%, rgba(38,113,221,1) 64%, rgba(30,156,255,0.9420810560552346) 100%) solid;
    margin-bottom: 0.8vw;
    background-color: white;
    background-position: center; 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.15em;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[name="runBtn"]{
  margin-left: 1.5vw;
  margin-top: 1.2vw;
  font-size: 1.5vw;
  background: rgb(39,62,143);
  background: linear-gradient(90deg, rgba(39,62,143,1) 29%, rgba(39,83,176,1) 68%, rgba(13,70,210,0.9420810560552346) 100%);  
  color: white;
}

input[name="runBtn"]:hover{
    color:rgb(39,62,143);
    background: white;
    border: 0.2vw rgb(39,62,143) solid;
}

input[name="runBtn"]:visited{
    color:rgb(39,62,143);
    background: white;
    border: 2px rgb(39,62,143) solid;
}

.title{
    margin-left: 1.5vw;
    margin-bottom: -0.3vw;
    width: 13vw;
    height: 2vw;
    background-color: white;
    text-align: center;
}

.slider{
    margin-left: 1.5vw;
    width: 13vw;
    -webkit-appearance: none;
    height: 2vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 2vw;
    background: rgb(39,62,143);
    cursor: pointer;
}

.slider:hover {
        opacity: 1;
}

.title2{
    margin-bottom: 0vw;
    margin-top: -0.7vw;
    width: 13vw;
    height: 2vw;
    background-color: white;
    text-align: center;
}

.algos{
    list-style-type: none;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

.algos li {
    float: left;
    width: 6.2vw;
    height: 4.4vw;
    margin-right: 0.6vw;
    margin-bottom: 0.6vw;
    position: relative;
  }

.algos label, .algos input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.algos label {
    color:rgb(39,62,143);
    background: white;
    border: 2px rgb(39,62,143) solid;
    border-radius: 0.15em;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.65vw;
}

.algos input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}
  
.algos input[type="radio"]:checked+label,
  .Checked+label {
    background: rgb(39,62,143);
    background: linear-gradient(90deg, rgba(39,62,143,1) 29%, rgba(39,83,176,1) 68%, rgba(13,70,210,0.9420810560552346) 100%);  
    color: white;
}

.title3{
    margin-left: 1.5vw;
    width: 13vw;
    height: 2vw;
    background-color: white;
    text-align: center;
}

.array .button{
    margin-left: 1.5vw;
    margin-top: 1.8vw;
    font-size: 1.5em;
    background-color: #313649;
    color: white;
    height: 2.5vw; 
}

.array .button:hover{
    color:#313649;
    background: white;
    border: 2px #313649 solid;
}

.array .slider{
    margin-top: 1.6vw;
}

.array .slider::-webkit-slider-thumb {
    background: #313649;
}

.array input[name="arrayBtn"]{
    margin-top: 1vw;
}

.array input[name="flipBtn"]{
    margin-top: 0.3vw;
}

.seperator{
    border-left: 2px rgba(226, 226, 231, 0.918) solid;
    height: 77%;
    position: absolute;
    left: 16.5%;
    margin-left: -3px;
    top: 17%;
}

.info{
    bottom: 82vh;
    font-size: 0.75em;
    float: left;
    position: absolute;
    margin-top: 0.35vw;
    color:black;
}

.info h4[id="complexity"]{
    margin-left: 18vw;
}

.info h4[id="comparisons"]{
    margin-left: 33vw;
    margin-top: 0.2vw;
}

.info:hover{
    color:rgba(0, 0, 0, 0.7);
}

.bars{
    margin-left: 22vw;
}

.bar{
    border-left: 1.5vw rgba(0, 0, 255, 0.596) solid;
    height: 70%;
    margin-left: 0px;
    bottom: 0vw;
    position: absolute;
}


.bottom{
    color: white;
    font-size: 0.7vw;
    background: rgb(37,76,145);
    background: linear-gradient(90deg, rgba(37,76,145,0.9308765742625175) 30%, rgba(38,113,221,1) 64%, rgba(30,156,255,0.9420810560552346) 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    padding-left: 6px;
    width: 100%;
    height: 0.8vw;
}